<% include ../partials/head %>
<style>
.body{
    margin-top:70px;
}
</style>
<div class="body">
    <h1><%=data.username %></h1>
    <a href="/auth/logout">logout </a>
</div>
<% include ../partials/footer %>