<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
    .navbar{
                background: rgb(0,0,0);
    }
        .navbar-nav{
            text-align: center;
            width: 100%;
        }
        .navbar-nav >li {
            float: none;
            display: inline-block;
        }
        body{
        
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
            <li>
                <a href="/search/Back To School ">Back to school</a>
            </li>
            <li class="dropdown">
              <a href="/search/Painting" class="dropdown-toggle" data-toggle="dropdown">Painting<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/search/sub/Acrylic Paint">Acrylic Paint</a></li>
                <li><a href="/search/sub/Brushes">Brushes</a></li>
                <li><a href="/search/sub/Oil Paint">Oil Paint</a></li>
                <li><a href="/search/sub/Painting Tools">Painting Tools</a></li>
                <li><a href="/search/sub/Spray Paint">Spray Paint</a></li>
                <li><a href="/search/sub/Watercolor Paint">Watercolor Paint</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/search/Supplies & Tools" class="dropdown-toggle" data-toggle="dropdown">Supplies & Tools<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/search/sub/Cutters">Cutters</a></li>
                <li><a href="/search/sub/Eraser">Eraser</a></li>
                <li><a href="/search/sub/Furniture">Furniter</a></li>
                <li><a href="/search/sub/Glue">Glue</a></li>
                <li><a href="/search/sub/Sharpener">Sharpener</a></li>
                <li><a href="/search/sub/Tape">Tape</a></li>
              </ul>
            </li>            
            <li class="dropdown">
              <a href="/search/Writing & Sketching" class="dropdown-toggle" data-toggle="dropdown">Writing & Sketching<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/search/sub/Chalk">Chalk</a></li>
                <li><a href="/search/sub/Crayons">Crayons</a></li>
                <li><a href="/search/sub/Markers">Markers</a></li>
                <li><a href="/search/sub/Notebooks">Notebooks</a></li>
                <li><a href="/search/sub/Pencils">Pencils</a></li>
                <li><a href="/search/sub/Pens">Pens</a></li>
                <li><a href="/search/sub/Surfaces">Surfaces</a></li>
              </ul>
            </li>
            <li>
                <a href="/search/Arts & Crafts">Arts & Crafts</a>
            </li>
            <li>    
                <a href="/auth/login/">Account</a>
            </li>
            </ul>
        </div>
    </nav>