<% include ../partials/head %>
    <style>
        .body{
            margin-top:70px;
        }
    </style>
    <div class="body">
        <h1>Order # <%=random %></h1>
        <h3><%=date %> <h3>
    </div>
<% include ../partials/footer %>